{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- favicon -->
    <link rel="icon" type="image/icon/png" href="{% static 'favicon.ico' %}"/>
    

    <!-- Bootstrap CSS --> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />

    <!-- Dropzone -->
    <!-- <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js" defer></script> -->

    <!-- Custom JS -->
    <script src="{% static 'functions.js' %}" defer></script>
    {% block scripts %}
    {% endblock scripts %}

    <title>Read Posts | {% block title %}{% endblock title %}</title>
</head>
<body class="body">
 
    {% include 'navbar.html' %}
    <div class="container mt-3 mb-3">
        
        {% block content %}
        {% endblock content %}
        
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</body>


   

</html>