{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- favicon -->
    <!-- {% comment %} <link rel="icon" type="image/icon/png" href="{% static 'favicon.ico' %}"/> {% endcomment %} -->

    <!-- Bootstrap CSS --> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- Custom JS -->
    <script src="{% static 'functions.js' %}" defer></script>
    {% block scripts %}
    {% endblock scripts %}

    <title>Read Posts | </title>
</head>
<body>
 
    <div class="container mt-3">
        
        {% block content %}
        {% endblock content %}
        
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</body>


   

</html>