.body
{
  height: 100vh;
  /* background: linear-gradient(rgba(34,193,195,1), rgba(253,187,45,1));  */
  background: rgb(185, 219, 152);
}
.not-visible{
    display: none;
}
.dz{
    border: dashed !important;
    border-color: #ccc !important;
    border-radius: 10px !important;
}

.dz:hover{
    border-color: aliceblue !important;
}

.marginTop{
    margin-top: 75px;
}

.marginBottom{
    margin-bottom: 75px;
}

.bgClrGum{
    
    background: rgb(230, 231, 127)
}

.textBold{
    font-weight: bold;
}

.maxImgSize{
    max-height: 600px;
    border-radius: 15px;
}

.center{
    margin: 0 auto;
}

/* Carousel CSS */
.carousel-control-prev,
.carousel-control-next {
    background: none;
    border: none;
}

.carousel-control-next-icon, 
.carousel-control-prev-icon {
    
    filter: invert(1);
}
.card{
    border: none;
}

.card-footer{
    background: rgb(88, 137, 187)
}


.btn-primary{
    background: rgb(255, 255, 255);
    color: black
}

.row{


    gap: 0px;
}

.B{
    border: 1px solid red;
}


.col-1{
    width: auto;
}

.row{
    flex-wrap: nowrap;
}